<div class="container">
  <div class="row">
    <% products.map(item=>{ %>
    <div class="col-sm-6 col-md-3">
      <div class="product-card">
        <div class="img">
          <img src="<%= item.imageSrc %> " alt="" />
        </div>
        <div class="content">
          <p><%= item.name %></p>
          <p><%= item.price %></p>
        </div>
        <div class="button">
          <a href="/cart/add/<%= item._id %> " class="btn btn-success"
            >Add To Cart</a
          >
        </div>
      </div>
    </div>

    <% }) %>
  </div>
</div>
