<div class="form-floating mb-3">
  <input
    type="text"
    class="form-control"
    placeholder="name"
    name="name"
    value="<%= categories.name %>"
  />
  <label for="floatingInput">Product Name</label>
</div>
<div class="form-floating mb-3">
  <input type="submit" class="form-control btn btn-success" value="save" />
</div>
